/**
 * ----------------------------------------
 * Animate HomePage
 * ----------------------------------------
 */
.animate .in-top {
  animation: in-top 0.3s;
  animation-fill-mode: both;
  animation-delay: 3s;
}

@keyframes in-top {
  0% {
    animation-timing-function: ease-in;
    transform: translateY(-80px);
  }
  50% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  100% {
    animation-timing-function: ease-in;
    transform: translateY(0);
    opacity: 1;
  }
}

.animate .in-bottom {
  opacity: 0;
  animation: in-bottom 0.3s forwards;
}

@keyframes in-bottom {
  0% {
    animation-timing-function: ease-in;
    bottom: -80px;
    opacity: 0;
  }
  50% {
    animation-timing-function: ease-out;
    bottom: -40px;
    opacity: 0.8;
  }
  100% {
    bottom: 0px;
    opacity: 1;
    animation-timing-function: ease-in;
  }
}

.animate .fade-in {
  animation: fade-in 0.15s both;
  animation-delay: 3.2s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  25% {
    opacity: 0.25;
    animation-timing-function: ease-out;
  }
  50% {
    opacity: 0.5;
    animation-timing-function: ease-in;
  }
  100% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
}

.animate .welcome-message span {
  margin-bottom: -8px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  line-height: 1.2;
}

.animate .welcome-message span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: a-ltr-after 2.5s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(-101%);
}

.animate .welcome-message span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: a-ltr-before 1.5s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(0);
}

.animate .welcome-message span:nth-of-type(1)::before,
.animate .welcome-message span:nth-of-type(1)::after {
  animation-delay: 0.5s;
  animation-duration: 0.4s;
}

.animate .welcome-message span:nth-of-type(2)::before,
.animate .welcome-message span:nth-of-type(2)::after {
  animation-delay: 1s;
  animation-duration: 0.6s;
}

.animate .welcome-message span:nth-of-type(3)::before,
.animate .welcome-message span:nth-of-type(3)::after {
  animation-delay: 1.5s;
  animation-duration: 0.8s;
}

@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}

@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

/**
 * ----------------------------------------
 * Animation hover welcome message
 * ----------------------------------------
 */
.white-background {
  background: white;
}

.scale-out-center {
  animation: scale-out-center 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes scale-out-center {
  0% {
    transform: translateX(0);
    visibility: visible;
  }
  100% {
    transform: translateX(1000px);
    visibility: hidden;
  }
}
.row:hover i.underlined {
  background-size: 100% 100%;
}

.fade-in-50 {
  animation: fade-in-50 0.15s both;
}
@keyframes fade-in-50 {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  50% {
    opacity: 0.25;
    animation-timing-function: ease-out;
  }
  100% {
    opacity: 0.5;
    animation-timing-function: ease-in;
  }
}

/**
 * ----------------------------------------
 * Animation hover hero text
 * ----------------------------------------
 */

i.underlined {
  color: black;
  flex: 1;
  text-decoration: none;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background 0.5s;
  font-style: normal;
}

i.underlined--offset {
  background-position: 0 0.2em;
  box-shadow: inset 0 -0.5em 0 0 white;
}
