.slider .slide {
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

.slider .show-first-slide {
  opacity: 1;
}

.animate .slider .show-first-slide {
  opacity: 0;
}

.slider .details {
  z-index: 2;
}

.arrow-up {
  transform: rotate(180deg);
}

.slider .slide .slide-img {
  @apply object-cover object-right w-full;
}
