body {
  background: url("/img/dot.svg") repeat;
}

.ios-block-scroll {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
}

.main-container {
  background: none;
}
@screen md {
  .main-container {
    /*background: url("/img/diamonds.svg") no-repeat right -16em top 12em;*/
  }
}

.spacing {
  @apply px-2 py-8;
}

@screen sm {
  .spacing {
    @apply px-4 py-10;
  }
}

@screen md {
  .spacing {
    @apply px-8 py-10;
  }
}

@screen lg {
  .spacing {
    @apply px-24 py-10;
  }
}
